* {
    transition: all 0.5s ease;
}

a:hover {
    text-decoration: none !important;
    opacity: .7;
}

.userLiveChannelName {
    font-size: 12px;
    color: #000;
}

body.lightVersion,
body.lightVersion .css-1q4pwzv {
    background: #fff;
}

body.lightVersion .css-umajub-MuiPaper-root-MuiCard-root {
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: solid 1px #ddd;
    z-index: 99999;    
}

body.lightVersion .css-1j1bfsq-MuiToolbar-root {
    background: #efeff1;
}

body.lightVersion .css-p2k8gh-MuiPaper-root-MuiDrawer-paper {
    background: #fff;
}

.topmargin .MuiPaper-root.MuiPaper-elevation {
    margin-top: 91px;
}
body .minHeightTitleMenu {
    min-height: 48px;
}

[aria-label="open drawer"] {
    position: relative;
    left: 42px;
}

.css-umajub-MuiPaper-root-MuiCard-root {
    border-radius: 0 !important;
}

Container {
    width: 100%;
    max-width: 100%;
}

.showAllItemHr {
    display: table;
    width: 100%;
    text-align: center;
    padding: 20px 0 5px 0;
    position: relative;
}

.showAllItemHr:before {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    background: #272d4d;
    position: absolute;
    top: 60%;
}

.showAllItemHr a {
    background: #111633;
    padding: 15px 30px;
    display: inline-block;
    position: relative;
    z-index: 99;
    color: #fff;
    cursor: pointer;
}

.css-1qzevvg {
    position: absolute !important;
    top: 45%;
    width: 100% !important;
    left: 0;
    right: 0;
    margin: 0 auto !important;
    z-index: 9999;
}

.css-1qzevvg img:first-child {
    margin-left: -50px;
    -webkit-filter: invert(50%);
    filter: invert(50%);
    cursor: pointer;
}

.css-1qzevvg img:last-child {
    margin-right: -50px;
    -webkit-filter: invert(50%);
    filter: invert(50%);
    cursor: pointer;
}

.br100 {
    border-radius: 100px;
}

.listChannelIconSize {
    width: 40px;
}

.liveViewCount {
    padding: 0px 0.4rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(0 0 0 / 58%);
    color: #ddd;
    font-size: 14px;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    margin-left: 5px;
}

ul.videoTags {
    display: block;
}

ul.videoTags li {
    display: inline-block;
    padding: 1px;
}

ul.videoTags li a {
    background: #212954;
    display: block;
    padding: 2px 7px;
    border-radius: 100px;
    font-size: 12px;
}

ul.videoTags li a:hover {
    text-decoration: none;
    background: #161c3c;
    color: #9f91f4;
}

ul.videoTags {
    margin: 15px 0 0 0;
    padding: 0;
}

.css-2mh162-MuiGrid-root {
    align-items: flex-start !important;
}

.mt5 {
    margin-top: 5px;
    display: block;
}

.stickyHeader {
    position: fixed;
    z-index: 99999;
    border-radius: 0;
}

.MuiBox-root.css-k008qs {
    padding-top: 100px;
}

body .css-1o8jgg6 {
    min-height: 46px;
}

.cateBadge {
    position: absolute;
    top: 0;
    right: 0;
}

.cateBadge {
    position: absolute;
    top: 7px;
    right: 7px;
    background: #8162d2;
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 0.5em;
    color: #fff;
}

.twitch .twitch-button svg {
    fill: #ddd;
}

.twitch .twitch-button:hover svg {
    fill: #999;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext { 
    visibility: hidden;
    width: auto;
    min-width: 100px;
    background-color: #dedcdc;
    color: #333;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: fixed;
    z-index: 1;
    font-size: 12px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.css-ebdsus {
    width: 100%;
}
.react-loading-skeleton {
    background-color: #222956 !important;
    --base-color: #3e4781 !important;
    --highlight-color: #222956 !important;
}

.react-loading-skeleton::after {
    background-color: #0c1028 !important;   
}