* {
    transition: all 0.5s ease;
}

a:hover {
    text-decoration: none !important;
    opacity: .7;
}

.userLiveChannelName {
    font-size: 12px;
    color: #000;
}

body.lightVersion,
body.lightVersion .css-1q4pwzv {
    background: #fff;
}
.css-1q4pwzv {
    background: #070C27;
}
body.lightVersion .css-umajub-MuiPaper-root-MuiCard-root {
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: solid 1px #ddd;
    z-index: 99999;    
}

body.lightVersion .css-1j1bfsq-MuiToolbar-root {
    background: #efeff1;
}

body.lightVersion .css-p2k8gh-MuiPaper-root-MuiDrawer-paper {
    background: #fff;
}

.topmargin .MuiPaper-root.MuiPaper-elevation {
    margin-top: 91px;
}
body .minHeightTitleMenu {
    min-height: 48px;
}

[aria-label="open drawer"] {
    position: relative;
    left: 42px;
}

.css-umajub-MuiPaper-root-MuiCard-root {
    border-radius: 0 !important;
}

Container {
    width: 100%;
    max-width: 100%;
}

.showAllItemHr {
    display: table;
    width: 100%;
    text-align: center;
    padding: 20px 0 5px 0;
    position: relative;
}

.showAllItemHr:before {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    background: #272d4d;
    position: absolute;
    top: 60%;
}

.showAllItemHr a {
    background: #111633;
    padding: 15px 30px;
    display: inline-block;
    position: relative;
    z-index: 99;
    color: #fff;
    cursor: pointer;
}

.css-1qzevvg {
    position: absolute !important;
    top: 45%;
    width: 100% !important;
    left: 0;
    right: 0;
    margin: 0 auto !important;
    z-index: 9999;
}

.css-1qzevvg img:first-child {
    margin-left: -50px;
    -webkit-filter: invert(50%);
    filter: invert(50%);
    cursor: pointer;
}

.css-1qzevvg img:last-child {
    margin-right: -50px;
    -webkit-filter: invert(50%);
    filter: invert(50%);
    cursor: pointer;
}

.br100 {
    border-radius: 100px;
}

.listChannelIconSize {
    width: 40px;
}

.liveViewCount {
    padding: 0px 0.4rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(0 0 0 / 58%);
    color: #ddd;
    font-size: 14px;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    margin-left: 5px;
}

ul.videoTags {
    display: block;
}

ul.videoTags li {
    display: inline-block;
    padding: 1px;
}

ul.videoTags li a {
    background: #212954;
    display: block;
    padding: 2px 7px;
    border-radius: 100px;
    font-size: 12px;
}

ul.videoTags li a:hover {
    text-decoration: none;
    background: #161c3c;
    color: #9f91f4;
}

ul.videoTags {
    margin: 15px 0 0 0;
    padding: 0;
}

.css-2mh162-MuiGrid-root {
    align-items: flex-start !important;
}

.mt5 {
    margin-top: 5px;
    display: block;
}

.stickyHeader {
    position: fixed;
    z-index: 99999;
    border-radius: 0 !important;
}

/* .MuiBox-root.css-k008qs {
    padding-top: 90px;
} */

body .css-1o8jgg6 {
    min-height: 46px;
}

.cateBadge {
    position: absolute;
    top: 0;
    right: 0;
}

.cateBadge {
    position: absolute;
    top: 7px;
    right: 7px;
    background: #8162d2;
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 0.5em;
    color: #fff;
}

.twitch .twitch-button svg {
    fill: #ddd;
}

.twitch .twitch-button:hover svg {
    fill: #999;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext { 
    visibility: hidden;
    width: auto;
    min-width: 100px;
    background-color: #dedcdc;
    color: #333;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: fixed;
    z-index: 1;
    font-size: 12px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.css-ebdsus {
    width: 100%;
}
.react-loading-skeleton {
    background-color: #222956 !important;
    --base-color: #3e4781 !important;
    --highlight-color: #222956 !important;
}

.react-loading-skeleton::after {
    background-color: #0c1028 !important;   
}
input.ReactTags__tagInputField {
    padding: 10px;
    background: transparent;
    border: 0;
    border-bottom: solid 1px;
    margin-bottom: 10px;
}
.ReactTags__selected button.ReactTags__remove {
    margin: 5px;
    background: #8c7cf0;
    padding: 3px;
    border: none;
    font-size: 16px;
}

.tag-wrapper {
    background: #8c7cf0;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    margin: 3px;
}
/* 
.ReactTags__suggestions {
    background-color: #8c7cf0;
    color: #fff;
    list-style-type: none;
    list-style: none;
}

.ReactTags__suggestions li {
    list-style-type: none;
    list-style: none;
    border: 1px solid white;
    padding-left: 10px;
} */

.ReactTags__suggestions ul {
    
    padding-left: 0px;
    
}

body .css-13mxmup {
    height: 90px;
}
.socialShareLink a {
    display: flex;
    gap: 10px;
    color: #fff;
}
.socialShareLink path {
    fill: #fff;
}

.stripe-component {
    margin: 0% 8%;
    text-align: center;
    display: grid;
}

.common-flex {
    display: flex;
}

.real-time-price-box-parent {
    width: 100%;
    margin-left: 30px;
    padding-right: 50px;
    margin-right: 50px;
}
.real-time-price-box  {
    margin: 10px 0px !important;
    justify-content: space-between;
}
.real-time-price-box > h4 {
    font-size: 17px !important;
}
.real-time-price-box-txt {
    margin-left: 30px !important;
}

.vertical-line {
    border-right: 2px solid rgb(112, 99, 192) !important;
}

.monetize-pending-pop {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

.add-plan-stripe-dash-box {
    display: flex;
    padding: 45px;
    justify-content: space-between;
}

.vertical-line-box {
    border: 3px #8c7cf0 solid;
    margin-left: 50px;
}

.tag-cat-title {
    margin-top: 5px;
    display: flex;
}

.channel-cat-title {
    font-weight: 400;
    padding-right: 10px;
    cursor: pointer;
}

.chnl-tag-btn{
    font-weight: 400 !important;
    font-size: 12px !important;
    border-radius: 50px !important;
    background-color: grey !important;
    padding: 0px !important;
    margin: 0px 2px !important;
}

.chnl-desc{
    font-weight: 600;
    font-size: 15px;
    margin-top: 8px;
    text-align: left;
}
.chl-icon {
    border-radius: 100% !important;
    height: 65px !important;
    width: 65px !important;
    margin: 8px 12px 18px 18px !important;
}
.chl-live {
    font-size: 13px !important;
    font-weight: 300 !important; 
    background-color: red !important;
    border-radius: 5px !important;
    width: 50px !important;
    position: absolute !important;
    top: 65px !important;
    left: 25px !important;
    color: #fff !important;
}
.follow-sub-btn {
    font-weight: 400 !important;
    font-size: 12px !important;
    background-color: rgb(112, 99, 192) !important;
    padding: 8px 30px !important;
    border-radius: 5px !important;
}
.channel-tags-btn-list {
    display: flex;
}
.chl-container {
    display: flex;
    margin-top: 90px !important;
}
.video-wrapper {
    padding-bottom: 10px;
}
.chat-wrapper {
    position: fixed;
}
.message-list {
    margin: 15px !important;
    height: calc(100vh - 300px);
    overflow-y: scroll;
    scrollbar-width: none;
}
.chat-btn {
    background-color: #fff;
    padding: 10px 20px;
    display: block;
    align-items: center;
    z-index: 1000;
    background-color: #111631;
}
.payout-cards {
    display: flex;
    gap: 20px;
}
.payout-cards > div {
    width: 100%;
    padding: 75px;
}
.payout-single-card {
    /* height: 250px;
    padding: 25px; */
}

@media screen and (max-width: 480px) {
    .inner-component-main-div {
        margin-left: 26px;
    }
    .for-stripe-onboarding {
        margin-left: 0px;
    }
    .add-subscription-main-div {
        padding-left: 6px;
        padding-right: 6px;
    }
    .add-sub-card-inner-content {
        padding: 16px !important;
    }
    .real-time-price-box-parent {
        width: 100% !important;
        margin-left: 0px !important;
        padding-right: 0px;
        margin-right: 0px;
    }
    .common-flex {
        display: block;
    }
    .vertical-line {
        border-right: none !important ;
        border-bottom: 2px solid rgb(112, 99, 192);
        margin-bottom: 20px;
        padding-bottom: 25px;
    }
    .real-time-price-box {
        display: flex;
    }
    .common-align {
        margin-top: 5px !important;
    }
}

@media screen and (max-width: 1200px) {
    .real-time-price-box-parent {
        width: 100% !important;
        margin-left: 30px;
        padding-right: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width: 962px) {
    .plan-text {
        padding-bottom: 0px !important;
    }
    .inner-component-main-div {
        margin-left: 26px;
    }
    .for-stripe-onboarding {
        margin-left: 0px;
    }
    .add-subscription-main-div {
        padding-left: 6px;
        padding-right: 6px;
    }
    .add-sub-card-inner-content {
        padding: 16px !important;
    }
    .real-time-price-box-parent {
        width: 100% !important;
        margin-left: 0px !important;
        padding-right: 0px;
        margin-right: 0px;
    }
    .common-flex {
        display: block;
    }
    .vertical-line {
        border-right: none !important ;
        border-bottom: 2px solid rgb(112, 99, 192);
        margin-bottom: 20px;
        padding-bottom: 25px;
    }
    .real-time-price-box {
        display: flex;
    }
    .channel-tags-btn-list {
        display: flex;
    }
    .tag-cat-title {
        margin-top: 5px !important;
        display: block;
    }
    .channel-cat-title {
        font-weight: 400;
        cursor: pointer;
        font-size: 12px;
    }
    .chnl-tag-btn{
        font-weight: 400 !important;
        font-size: 12px !important;
        border-radius: 50px !important;
        background-color: grey !important;
        padding: 0px !important;
        margin: 0px 2px !important;
    }
    .div-desc-title-tag {
        text-align: left;
    }
    .chnl-desc{
        font-weight: 600 !important;
        font-size: 13px !important;
        margin-top: 8px !important;
        text-align: left;
    }
    .chl-name {
        font-size: 18px;
    }
    .chl-icon {
        width: 58px !important;
        height: 58px !important;
    }
    .chl-live {
        font-size: 12px !important;
        width: 47px !important;
        top: 58px !important;
        left: 24px !important;
    }
    .follow-sub-btn {
        font-weight: 400 !important;
        font-size: 12px !important;
        background-color: rgb(112, 99, 192) !important;
        padding: 8px 15px !important;
        border-radius: 5px !important;
    }
    .topmargin {
        display: none ;
    }
    .logo-main {
        width: 125px !important;
    }
    .search-input > div > input {
        /* width: 20px !important; */
        font-size: 12px !important;
    }
}

@media screen and (min-width: 600px) and (max-width: 962px) {
    .common-align {
        margin-top: 20px !important;
    }
}
@media screen and (min-width: 601px) and (max-width: 963px) {
    .common-align {
        margin-top: 20px !important;
    }
}
@media screen and (max-width: 2500px) and (min-width: 964px) {
    .common-align {
        margin-top: 20px !important;
    }
}
@media screen and (max-width: 599px){
    .common-align {
        margin-top: 5px !important;
    }
}

@media screen and (max-width: 972px){
    .add-plan-stripe-dash {
        padding: 45px 0px;
    }
    .add-plan-stripe-dash-box {
        padding: 45px 0px;
    }
}

@media screen and (max-width: 746px){
    
    .add-plan-stripe-dash {
        margin: 0% 5%;
    }
    .add-plan-stripe-dash {
        padding: 0px;
    }
}

@media screen and (max-width: 598px){
    
    .add-plan-stripe-dash-box {
        display: block;
    }
    .vertical-line-box {
        border: 2px #8c7cf0 solid;
        margin: 40px 0px;
    }
}

@media screen and (max-width: 840px) {
    .chl-container {
        display: block;
        margin-top: 92px !important;
    }
    .channel-tags-btn-list {
        display: none;
    }
    .video-wrapper {
        padding-bottom: 0px;
        margin-left: 3px !important;
    }
    .channel-subscriber-section {
        margin-bottom: 0px !important;
    }
    .channel-subscriber-section > div {
        padding-bottom: 0px !important;
    }
    .chat-wrapper {
        position: relative;
        height: 350px;
    }
    .drawer-chat, .drawer-chat > div{
        width: 100% !important;
    }
    .message-list {
        margin: 15px;
        height: calc(100vh - 600px);
        overflow-y: scroll;
        scrollbar-width: none;
    }
    .pin-card {
        position: absolute;
        top: 1px;
        left: 1px;
        margin-top: 0px;
        /* width: 32%; */
        min-width: 275px;
        /* display: flex; */
        justify-content: space-between;
    }
}

